html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.first-section-wrapper {
  background-color: rgb(31, 41, 55);
}

section {
  width: 1200px;
  margin: 0 auto;
}

#hero {
  padding: 20px 0 150px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  transition: color 0.2s;
}

a:hover {
  color: lightblue;
}

.header h1 {
  margin: 0;
  padding: 0;
  color: #F9FAf8;
}

.logo-container a {
  font-size: 24px;
}

.website-info-img-container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.website-info {
  width: 400px;
  color: #F9FAf8;
}

.website-info h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 900;
}

.website-info p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  color: #E5E7EB;
}

.website-info button {
  font-size: 16px;
  font-weight: bold;
  color: #E5E7EB;
  background-color: #3882F6;
  border: none;
  padding: 6px 32px;
  border-radius: 6px;
  margin-top: 14px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.website-info button:hover {
  color: #3882F6;
  background-color: #E5E7EB;;
}

.img-container {
  height: 300px;
  width: 600px;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 0 30%;
  border-radius: 5px;
}

#explore h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}

.destination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 120px;
}

.destination img {
  width: 250px;
  height: 300px;
  border: 5px solid rgb(116, 181, 237);
  object-fit: cover;
}

.destination p {
  width: 250px;
  text-align: center;
}

.testimonial-wrapper {
  background-color: #E5E7EB;
}

blockquote {
  width: 1000px;
  margin: 0 auto;
  display: flow-root; 
  padding: 60px;
}

blockquote p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  margin: 0;
}

cite {
  float: right;
  font-size: 26px;
  margin-top: 10px;
  margin-right: 12px;
  font-weight: bold;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882F6;
  padding: 40px 120px;
  border-radius: 10px;
  width: 1000px;
  margin: 60px auto;
  color: #E5E7EB;;
}

.signup-container h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-bottom: 4px;
}

.signup-container p {
  margin: 0;
  padding: 0;
}

.sign-up-button {
  background-color: transparent;
  border: 2px solid white;
  color: #E5E7EB;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px 28px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.sign-up-button:hover {
  color: #3882F6;;
  background-color: #E5E7EB;;
}

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 24px;
  text-align: center;
}

footer a {
  font-size: 16px;
}

footer a:hover {
  text-decoration: underline;
  color: #E5E7EB;
}